# Aula 2: SQL - Exercícios

In [12]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in c:\users\milto\anaconda3\lib\site-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in c:\users\milto\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: sqlalchemy in c:\users\milto\appdata\roaming\python\python38\site-packages (from pandasql) (1.3.13)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\milto\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\milto\anaconda3\lib\site-packages (from pandas->pandasql) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\milto\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26822 sha256=0b3fdf38eeb96b1e586c4b0c9f6b82941c7b84a2d548fbfd72e7e31fdae5f8e0
  Stored in directory: c:\users\milto\appdata\local\pip\cache\wheels\ed\8f\46\a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [1]:
import yaml
import sqlalchemy
import pandas as pd
from pandasql import sqldf

In [2]:
# Load SQL credentials
with open('credentials.yml', 'r') as file:
    credentials = yaml.load(file, Loader=yaml.FullLoader)

In [10]:
engine = sqlalchemy.create_engine(f'mysql://{credentials["user"]}:{credentials["password"]}@{credentials["host"]}:{credentials["port"]}/{credentials["database"]}') # connect to server

In [4]:
df = pd.read_csv('AtrasoCartaoCredito.csv')

In [23]:
df.columns

Index(['ID', 'Target', 'GrupoEconomico', 'Sexo', 'Idade', 'GrupoRisco',
       'ValorCompraAnual', 'GastoMax', 'GastoMedio', 'UF', 'CidadeResidencia',
       'RegiaodoPais', 'NumeroComprasOnline'],
      dtype='object')

#### Selecione as colunas `Target` e `Sexo`

In [24]:
sqldf('''
    SELECT Target, Sexo
    FROM df
''')

     Target    Sexo
0         0   homem
1         1  mulher
2         1  mulher
3         1  mulher
4         0   homem
..      ...     ...
886       0   homem
887       1  mulher
888       0  mulher
889       1   homem
890       0   homem

[891 rows x 2 columns]

#### Selecione as colunas `Target` e `Sexo` com pessoas de idade acima de 30 anos

In [25]:
df.columns

Index(['ID', 'Target', 'GrupoEconomico', 'Sexo', 'Idade', 'GrupoRisco',
       'ValorCompraAnual', 'GastoMax', 'GastoMedio', 'UF', 'CidadeResidencia',
       'RegiaodoPais', 'NumeroComprasOnline'],
      dtype='object')

In [28]:
sqldf('''
    SELECT Target, Sexo
    FROM df
    WHERE Idade > 30
''')

     Target    Sexo
0         1  mulher
1         1  mulher
2         0   homem
3         0   homem
4         1  mulher
..      ...     ...
342       1  mulher
343       0   homem
344       0  mulher
345       0  mulher
346       0   homem

[347 rows x 2 columns]

#### Selecione as colunas `Target` e `Sexo` com pessoas de idade entre 30 e 50 anos

In [29]:
sqldf('''
    SELECT Target, Sexo
    FROM df
    WHERE Idade BETWEEN 30 AND 50
''')

     Target    Sexo
0         1  mulher
1         1  mulher
2         0   homem
3         1  mulher
4         0   homem
..      ...     ...
306       0   homem
307       0   homem
308       0  mulher
309       0  mulher
310       0   homem

[311 rows x 2 columns]

#### Selecione pessoas da região nordeste

In [32]:
sqldf('''
    SELECT *
    FROM df
    WHERE RegiaodoPais = 'Região Nordeste'
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
1,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
2,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
3,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
4,12,1,1,mulher,58,0,2655.0,189.642857,221.250000,BA,Lajedo do Tabocal,Região Nordeste,7.629310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
339,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
340,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
341,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
342,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

In [31]:
sqldf('''
    SELECT *
    FROM df
    WHERE RegiaodoPais LIKE '%nord%'
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
1,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
2,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
3,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
4,12,1,1,mulher,58,0,2655.0,189.642857,221.250000,BA,Lajedo do Tabocal,Região Nordeste,7.629310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
339,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
340,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
341,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
342,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

#### Selecione pessoas das regiões nordeste e sudeste

In [34]:
sqldf('''
    SELECT *
    FROM df
    WHERE RegiaodoPais IN ('Região Nordeste', 'Região Sudeste')
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
2,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
3,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
4,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
582,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
583,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
584,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
585,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

#### Selecione pessoas de todas regiões exceto sul

In [41]:
sqldf('''
    SELECT *
    FROM df
    WHERE RegiaodoPais <> 'Região Sul'
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
2,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
3,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
4,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
735,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
736,889,0,3,mulher,35,1,2345.0,167.500000,195.416667,RO,Governador Jorge Teixeira,Região Norte,11.166667
737,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
738,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

In [46]:
sqldf('''
    SELECT *
    FROM df
    WHERE RegiaodoPais not in ('Região Sul')
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
2,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
3,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
4,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
735,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
736,889,0,3,mulher,35,1,2345.0,167.500000,195.416667,RO,Governador Jorge Teixeira,Região Norte,11.166667
737,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
738,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

#### Selecione pessoas de MG e SP, e com idade acima de 30 anos

In [7]:
sqldf('''
    SELECT *
    FROM df
    WHERE UF in ('MG', 'SP') AND Idade > 30
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,16,1,2,mulher,55,0,16.0,1.142857,1.333333,SP,Porangaba,Região Sudeste,0.048485
1,21,0,2,homem,35,0,26.0,1.857143,2.166667,MG,São Pedro Dos Ferros,Região Sudeste,0.123810
2,28,0,1,homem,45,3,263.0,18.785714,21.916667,MG,Prados,Região Sudeste,0.974074
3,29,1,3,mulher,35,0,78792.0,5628.000000,6566.000000,MG,Lontra,Região Sudeste,375.200000
4,35,0,1,homem,35,1,8217.0,586.928571,684.750000,MG,Serra Dos Aimorés,Região Sudeste,39.128571
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,826,0,3,homem,46,0,695.0,49.642857,57.916667,MG,Jordânia,Região Sudeste,2.518116
76,836,1,1,mulher,39,1,831583.0,59398.785714,69298.583333,MG,Fervedouro,Região Sudeste,3553.773504
77,847,0,3,homem,33,8,6955.0,496.785714,579.583333,MG,Mercês,Região Sudeste,35.126263
78,852,0,3,homem,74,0,7775.0,555.357143,647.916667,MG,Planura,Região Sudeste,17.511261
79,857,1,1,mulher,45,1,16486.0,1177.571429,1373.833333,MG,São Gonçalo do Pará,Região Sudeste,61.059259

In [47]:
sqldf('''
    SELECT *
    FROM df
    WHERE UF IN ('MG', 'SP') AND Idade > 30
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,16,1,2,mulher,55,0,16.0,1.142857,1.333333,SP,Porangaba,Região Sudeste,0.048485
1,21,0,2,homem,35,0,26.0,1.857143,2.166667,MG,São Pedro Dos Ferros,Região Sudeste,0.123810
2,28,0,1,homem,45,3,263.0,18.785714,21.916667,MG,Prados,Região Sudeste,0.974074
3,29,1,3,mulher,35,0,78792.0,5628.000000,6566.000000,MG,Lontra,Região Sudeste,375.200000
4,35,0,1,homem,35,1,8217.0,586.928571,684.750000,MG,Serra Dos Aimorés,Região Sudeste,39.128571
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,826,0,3,homem,46,0,695.0,49.642857,57.916667,MG,Jordânia,Região Sudeste,2.518116
76,836,1,1,mulher,39,1,831583.0,59398.785714,69298.583333,MG,Fervedouro,Região Sudeste,3553.773504
77,847,0,3,homem,33,8,6955.0,496.785714,579.583333,MG,Mercês,Região Sudeste,35.126263
78,852,0,3,homem,74,0,7775.0,555.357143,647.916667,MG,Planura,Região Sudeste,17.511261
79,857,1,1,mulher,45,1,16486.0,1177.571429,1373.833333,MG,São Gonçalo do Pará,Região Sudeste,61.059259

#### Selecione pessoas de sexo `homem`, residentes em  RJ e com idade abaixo de 50 anos

In [48]:
sqldf('''
    SELECT *
    FROM df
    WHERE Sexo = 'homem' AND
            UF = 'RJ' AND
            Idade < 30
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,126,1,3,homem,12,1,112417.0,8029.785714,9368.083333,RJ,São Sebastião do Alto,Região Sudeste,1561.347222
1,303,0,3,homem,19,0,NaN,0.000000,0.000000,RJ,Porto Real,Região Sudeste,0.000000
2,425,0,3,homem,18,1,202125.0,14437.500000,16843.750000,RJ,Sapucaia,Região Sudeste,1871.527778
3,649,0,3,homem,22,0,755.0,53.928571,62.916667,RJ,Cantagalo,Região Sudeste,5.719697
4,825,0,3,homem,20,4,396875.0,28348.214286,33072.916667,RJ,Santa Maria Madalena,Região Sudeste,3307.291667

### Extra:

Importe o dataset inteiro e faça a mesma análise no pandas

#### Selecione as colunas `Target` e `Sexo` com pessoas de idade acima de 30 anos

In [8]:
df.head()

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
2,3,1,3,mulher,26,0,7925.0,566.071429,660.416667,PR,Agudos do Sul,Região Sul,50.801282
3,4,1,1,mulher,35,1,531.0,37.928571,44.250000,PR,Congonhinhas,Região Sul,2.528571
4,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333

In [19]:
df.loc[df['Idade']>30,['Target', 'Sexo']]

     Target    Sexo
1         1  mulher
3         1  mulher
4         0   homem
6         0   homem
10        1  mulher
..      ...     ...
879       1  mulher
881       0   homem
885       0  mulher
888       0  mulher
890       0   homem

[347 rows x 2 columns]

In [18]:
df[df['Idade']>30][['Target', 'Sexo']]

     Target    Sexo
1         1  mulher
3         1  mulher
4         0   homem
6         0   homem
10        1  mulher
..      ...     ...
879       1  mulher
881       0   homem
885       0  mulher
888       0  mulher
890       0   homem

[347 rows x 2 columns]

#### Selecione as colunas `Target` e `Sexo` com pessoas de idade entre 30 e 50 anos

In [20]:
df[(df['Idade']>30) & (df['Idade']<50)][['Target', 'Sexo']]

     Target    Sexo
1         1  mulher
3         1  mulher
4         0   homem
10        1  mulher
13        0   homem
..      ...     ...
878       0   homem
881       0   homem
885       0  mulher
888       0  mulher
890       0   homem

[267 rows x 2 columns]

#### Selecione pessoas da região nordeste

In [33]:
sqldf('''
    SELECT *
    FROM df
    WHERE RegiaodoPais LIKE '%ordes%'
''')

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
1,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
2,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
3,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
4,12,1,1,mulher,58,0,2655.0,189.642857,221.250000,BA,Lajedo do Tabocal,Região Nordeste,7.629310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
339,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
340,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
341,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
342,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

In [34]:
df['RegiaodoPais'].dtype

dtype('O')

In [36]:
df[df['RegiaodoPais'].str.contains('ordes')]

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
4,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
5,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
7,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
11,12,1,1,mulher,58,0,2655.0,189.642857,221.250000,BA,Lajedo do Tabocal,Região Nordeste,7.629310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
886,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
887,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
889,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
890,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

In [37]:
df[~df['RegiaodoPais'].str.contains('ordes')] # tudo menos que contem string "ordes"

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
2,3,1,3,mulher,26,0,7925.0,566.071429,660.416667,PR,Agudos do Sul,Região Sul,50.801282
3,4,1,1,mulher,35,1,531.0,37.928571,44.250000,PR,Congonhinhas,Região Sul,2.528571
6,7,0,1,homem,54,0,51862.0,3704.428571,4321.833333,PR,Figueira,Região Sul,160.067901
8,9,1,3,mulher,27,0,11133.0,795.214286,927.750000,MG,Comercinho,Região Sudeste,68.722222
...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,878,0,3,homem,19,0,78958.0,5639.857143,6579.833333,SP,São Bento do Sapucaí,Região Sudeste,692.614035
879,880,1,1,mulher,56,0,83158.0,5939.857143,6929.833333,PR,Missal,Região Sul,247.494048
881,882,0,3,homem,33,0,78958.0,5639.857143,6579.833333,TO,São Miguel do Tocantins,Região Norte,398.777778
885,886,0,3,mulher,39,0,29125.0,2080.357143,2427.083333,SC,Guaraciaba,Região Sul,124.465812
888,889,0,3,mulher,35,1,2345.0,167.500000,195.416667,RO,Governador Jorge Teixeira,Região Norte,11.166667

In [22]:
df[df['RegiaodoPais']=='Região Nordeste']

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
4,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
5,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
7,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
11,12,1,1,mulher,58,0,2655.0,189.642857,221.250000,BA,Lajedo do Tabocal,Região Nordeste,7.629310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
886,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
887,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
889,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
890,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

#### Selecione pessoas das regiões nordeste ou sudeste

In [27]:
df[(df['RegiaodoPais']=='Região Nordeste')|
   (df['RegiaodoPais']=='Região Sudeste')]

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
4,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
5,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
7,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,homem,25,0,705.0,50.357143,58.750000,CE,Abaiara,Região Nordeste,4.700000
886,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
887,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
889,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
890,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

#### Selecione pessoas de todas regiões exceto sul

In [29]:
df[df['RegiaodoPais'] != 'Região Sul']

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737
4,5,0,3,homem,35,0,805.0,57.500000,67.083333,BA,Morpará,Região Nordeste,3.833333
5,6,0,3,homem,22,0,84583.0,6041.642857,7048.583333,AL,Carneiros,Região Nordeste,640.780303
7,8,0,3,homem,20,3,21075.0,1505.357143,1756.250000,BA,Ouriçangas,Região Nordeste,175625.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,homem,27,0,13.0,0.928571,1.083333,BA,Marcionílio Souza,Região Nordeste,0.080247
887,888,1,1,mulher,19,0,30.0,2.142857,2.500000,BA,Mirante,Região Nordeste,0.263158
888,889,0,3,mulher,35,1,2345.0,167.500000,195.416667,RO,Governador Jorge Teixeira,Região Norte,11.166667
889,890,1,1,homem,26,0,30.0,2.142857,2.500000,PI,Baixa Grande do Ribeiro,Região Nordeste,0.192308
890,891,0,3,homem,32,0,775.0,55.357143,64.583333,MA,Lagoa Grande do Maranhão,Região Nordeste,4.036458

#### Selecione pessoas de MG e SP, e com idade acima de 30 anos

In [32]:
df[(df['UF'].isin(['MG', 'SP'])&
   (df['Idade']>30))]

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
15,16,1,2,mulher,55,0,16.0,1.142857,1.333333,SP,Porangaba,Região Sudeste,0.048485
20,21,0,2,homem,35,0,26.0,1.857143,2.166667,MG,São Pedro Dos Ferros,Região Sudeste,0.123810
27,28,0,1,homem,45,3,263.0,18.785714,21.916667,MG,Prados,Região Sudeste,0.974074
28,29,1,3,mulher,35,0,78792.0,5628.000000,6566.000000,MG,Lontra,Região Sudeste,375.200000
34,35,0,1,homem,35,1,8217.0,586.928571,684.750000,MG,Serra Dos Aimorés,Região Sudeste,39.128571
...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,826,0,3,homem,46,0,695.0,49.642857,57.916667,MG,Jordânia,Região Sudeste,2.518116
835,836,1,1,mulher,39,1,831583.0,59398.785714,69298.583333,MG,Fervedouro,Região Sudeste,3553.773504
846,847,0,3,homem,33,8,6955.0,496.785714,579.583333,MG,Mercês,Região Sudeste,35.126263
851,852,0,3,homem,74,0,7775.0,555.357143,647.916667,MG,Planura,Região Sudeste,17.511261
856,857,1,1,mulher,45,1,16486.0,1177.571429,1373.833333,MG,São Gonçalo do Pará,Região Sudeste,61.059259

#### Selecione pessoas de sexo `homem`, residentes em  RJ e com idade abaixo de 50 anos

In [38]:
sexo_homem = df['Sexo'] == 'homem'
uf_rj = df['UF'] == 'RJ'
abaixo_50 = df['Idade'] < 50


df[sexo_homem & uf_rj & abaixo_50]

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
125,126,1,3,homem,12,1,112417.0,8029.785714,9368.083333,RJ,São Sebastião do Alto,Região Sudeste,1561.347222
302,303,0,3,homem,19,0,NaN,0.000000,0.000000,RJ,Porto Real,Região Sudeste,0.000000
418,419,0,2,homem,30,0,13.0,0.928571,1.083333,RJ,Rio Claro,Região Sudeste,0.072222
424,425,0,3,homem,18,1,202125.0,14437.500000,16843.750000,RJ,Sapucaia,Região Sudeste,1871.527778
450,451,0,2,homem,36,1,2775.0,198.214286,231.250000,RJ,Porciúncula,Região Sudeste,12.847222
648,649,0,3,homem,22,0,755.0,53.928571,62.916667,RJ,Cantagalo,Região Sudeste,5.719697
811,812,0,3,homem,39,0,2415.0,172.500000,201.250000,RJ,Trajano de Morais,Região Sudeste,10.320513
824,825,0,3,homem,20,4,396875.0,28348.214286,33072.916667,RJ,Santa Maria Madalena,Região Sudeste,3307.291667